<% if(releases.length) { %>
	<nav class="text-center">
		<ul class="pager">
			<% if(parseInt(page) > 1) { %>
				<li class="previous"><a href="<%= path %>/page/<%= parseInt(page) - 1 %>/"><span aria-hidden="true">&larr;</span> Previous</a></li>
			<% } %>

			<% if(releases.length > settings.dashboardPageRecords) { %>
				<li class="next"><a href="<%= path %>/page/<%= parseInt(page) + 1 %>/">Next <span aria-hidden="true">&rarr;</span></a></li>
			<% } %>
		</ul>
		
		<button type="button" class="btn btn-primary btn-sm collapseInfo" style="position: relative; top: <%= parseInt(page) > 1 || releases.length > settings.dashboardPageRecords ? '-52' : '-20' %>px;">
			<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&ensp;Collapse Releases Info&ensp;<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
		</button>
	</nav>

	<% _.each(releases, function(r, index) { %>
		<% if(index < settings.dashboardPageRecords) { %>
			<div id="<%= r._id %>" data-name="<%= r.name %>" class="panel panel-default">
				<div class="panel-body">
					<h4 style="margin-top: 0">
						<kbd style="color: #cddc39;">
							<%= r.name %>
							<small style="color: #ff5722;"> on <%= moment(r.pubdate).tz('Europe/Lisbon').format('YYYY-MM-DD HH:mm:ss') %></small>
						</kbd>

						<% if(r.imdb) { %>
							<button type="button" class="btn btn-xs btn-default pull-right toggleInfo">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						<% } %>
					</h4>

					<% if(r.imdb) { %>
						<div class="row releaseInfo">
							<div class="col-sm-4 col-md-3 col-lg-2">
								<div class="thumbnail">
									<img src="<%= r.imdb.cover ? common.resizeImage(r.imdb.cover, providers, 'thumb') : '/images/no-poster.jpg' %>" class="img-fluid" alt="<%= r.name %> cover">
									<div class="caption text-center">
										<a href="<%= r.imdbId ? providers.imdb.getTitleURL(r.imdbId).toString() : 'javaScript:void(0);' %>" class="btn btn-primary btn-xs <%= r.imdbId ? '' : 'disabled' %>" role="button" target="_blank">IMDb</a>&nbsp;
										<a href="<%= r.imdb.trailer ? r.imdb.trailer : 'javaScript:void(0);' %>" class="btn btn-primary btn-xs <%= r.imdb.trailer ? '' : 'disabled' %>" role="button" target="_blank"><span class="glyphicon glyphicon-film"></span></a>
									</div>
								</div>
							</div>

							<div class="col-sm-5 col-md-6 col-lg-8">
								<div class="thumbnail">
									<div class="row text-center">
										<a href="/releases/imdb/<%= r.imdbId %>/">
											<h4 class="text-center">
												<%= r.imdb.title %> (<%= r.imdb.year %>)
											</h4>
										</a>

										<h4 class="text-center">
											<% if(r.imdb.aka) { %>
												<small>aka: <%= r.imdb.aka %></small>
											<% } %>
										</h4>

										<h4 class="text-center">
											<% if(r.imdb.numSeasons || r.imdb.state) { %>
												<small>
													<% if(r.imdb.numSeasons) { %>
														<%= r.imdb.numSeasons %> <%= r.imdb.numSeasons == 1 ? 'season' : 'seasons' %>
														<%= r.imdb.state ? '-' : '' %>
													<% } %>
													<%= r.imdb.state || '' %>
												</small>
											<% } %>
										</h4>
									</div>

									<div class="row text-center">
										<span class="rating" rate="<%= r.imdb.rating || 0 %>"></span>
										<span>&nbsp;<b><%= r.imdb.rating || '-' %></b>/10 - <%= r.imdb.votes ? parseInt(r.imdb.votes).toLocaleString() : '-' %> votes</span>
									</div>

									<br>

									<div>
								 		<span class="label label-primary">Plot</span>

								 		<div class="pull-right">
								 			<% if(r.imdb.genres) { %>
									 			<% _.each(r.imdb.genres, function(genre) { %>
									 				<span class="label label-info"><%= genre %></span>
									 			<% }); %>
									 		<% } %>

									 		<% if(r.imdb.runtime) { %>
									 			<% var runtime = moment.duration(parseInt(r.imdb.runtime), 'minutes') %>
									 			<span class="label label-default"><%= runtime.hours() ? runtime.hours() + 'h' : '' %><%= (runtime.minutes() > 9 ? '' : '0') + runtime.minutes() %>m</span>
									 		<% } %>
								 		</div>

										<div class="well well-sm"><%= r.imdb.plot || 'Plot not available.' %></div>
									</div>
								</div>

								<div class="thumbnail">
									<div class="input-group" style="width: 0px;">
										<span class="input-group-addon"><b>Torrent:</b></span>

										<div class="input-group-btn">
											<a href="<%= r.magnet ? r.magnet : 'javaScript:void(0);' %>" class="btn btn-<%= r.magnet ? 'success' : 'danger disabled' %>" role="button"><span class="glyphicon glyphicon-magnet"></span></a>
											<a href="<%= providers.rarbg.getTorrentURL(r.tid).toString() %>" class="btn btn-success" role="button" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
										</div>
									</div>

									<br>

									<div class="input-group" style="width: 0px;">
										<span class="input-group-addon"><b>Subtitle:</b></span>

										<div class="input-group-btn">
											<a href="<%= r.subtitleId ? (r.imdb.type == 'show' ? '/subtitle/' + r.name + r.subtitleId : providers.legendasdivx.getDownloadURL(r.subtitleId).toString()) : 'javaScript:void(0);' %>" class="btn btn-<%= r.subtitleId ? 'success' : 'danger disabled' %>" role="button"><span class="glyphicon glyphicon-download-alt"></span></a>

											<% if(r.type == 'movie') { %>
												<a href="<%= r.subtitleId ? providers.legendasdivx.getSubtitleURL(r.subtitleId).toString() : 'javaScript:void(0);' %>" class="btn btn-<%= r.subtitleId ? 'success' : 'danger disabled' %>" role="button" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
											<% } %>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-3 col-md-3 col-lg-2 text-center">
								<div class="list-group">
									<a href="http://predb.me/?search=<%= r.name %>" class="list-group-item" target="_blank"><img src="/images/providers/predb-favicon.ico"> PreDB.me »</a>
									<a href="https://pre.corrupt-net.org/?q=<%= r.name %>" class="list-group-item" target="_blank"><img src="/images/providers/pre_corrupt-favicon.png"> Corrupt-Net »</a>
									<a href="http://www.ddlvalley.me/?s=<%= r.name %>" class="list-group-item" target="_blank"><img src="/images/providers/ddlvalley-favicon.ico"> DDLValley »</a>
		                            <a href="https://1337x.to/search/<%= r.name %>/1/" class="list-group-item" target="_blank"><img src="/images/providers/1337X-favicon.ico"> 1337X »</a>

									<% if(r.type == 'movie') { %>
		                            	<a href="<%= providers.legendasdivx.getSearchURL(r.imdbId.replace(/\D/g, ''), 1).toString() %>" class="list-group-item" target="_blank"><img src="/images/providers/legendasdivx-favicon.ico"> LegendasDivx »</a>
									<% } %>

									<% if(r.type == 'show' && r.imdb.addic7edId) { %>
		                            	<a href="<%= providers.addic7ed.getShowURL(r.show.addic7edId).toString() %>" class="list-group-item" target="_blank"><img src="/images/providers/addic7ed-favicon.ico"> Addic7ed »</a>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				</div>
			</div>
    	<% } %>
    <% }); %>

	<nav>
		<ul class="pager">
			<% if(parseInt(page) > 1) { %>
				<li class="previous"><a href="<%= path %>/page/<%= parseInt(page) - 1 %>/"><span aria-hidden="true">&larr;</span> Previous</a></li>
			<% } %>

			<% if(releases.length > settings.dashboardPageRecords) { %>
				<li class="next"><a href="<%= path %>/page/<%= parseInt(page) + 1 %>/">Next <span aria-hidden="true">&rarr;</span></a></li>
			<% } %>
		</ul>
	</nav>
<% } else { %>
	<div role="alert" class="alert alert-danger"><strong>Oh snap!</strong> Nothing found.</div>
<% } %>

<script>
$(function() {
    // raty initialization
    $('.rating').each(function() {
        $(this).raty({
            readOnly: true,
            number: 10,
            score: $(this).attr('rate')
        });
    });

    // Magnific Popup initialization
    $('.image-link').magnificPopup({
        type: 'image',
        overflowY: 'scroll'
    });

    $('.toggleInfo').on('click', function() {
    	$(this).closest('.panel').find('.releaseInfo').toggle();
    	$(this).find('span').toggleClass('glyphicon-plus glyphicon-minus');
    });

    $('.collapseInfo').on('click', function() {
    	$('.releaseInfo').hide();
    	$('.toggleInfo').find('span').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    });
});
</script>