<style>
#notifications {
    position: fixed;
    right: 40px;
    top: 60px;
    width: 600px;
    z-index: 3;
}

.table tbody>tr>td.vert-align,
.table tbody>tr>th.vert-align {
    vertical-align: middle;
}
</style>

<% if(toVerify.length) { %>
	<div id="notifications">
	</div>
	<div class="table-responsive">
	    <table class="table table-bordered">
	        <thead>
	            <tr>
	                <th class="text-center">IMDb</th>
	                <th class="text-center">Addic7ed</th>
	                <th class="text-center">Verify</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<% _.each(toVerify, function(imdb) { %>
		            <tr id="<%= imdb._id %>" class="unverifiedShow">
		                <td class="vert-align text-center" scope="row">
		                	<a href="<%= providers.imdb.TITLE_URL.expand({ imdbId: imdb._id }).toString() %>/" target="_blank"><%= imdb.title %></a>
		                </td>
		                <td class="vert-align text-center">
							<div class="input-group">
								<input type="text" value="<%= imdb.addic7edId %>" class="form-control sAddic7edId">
								<a class="input-group-addon" href="<%= imdb.addic7edId ? providers.addic7ed.SHOW_URL.expand({ addic7edId: imdb.addic7edId }).toString() : providers.addic7ed.SHOW_LIST_URL.toString() %>" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
							</div>
						</td>
		                <td class="vert-align text-center">
							<button type="button" class="btn btn-success btn-sm sUpdate">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
		                </td>
		            </tr>
	        	<% }); %>
	        </tbody>
	    </table>
	</div>
<% } else { %>
	<div role="alert" class="alert alert-success"><strong>Well done!</strong> All Shows are verified.</div>
<% } %>

<script>
$(function() {
	$('.sAddic7edId').change(function() {
		var addic7edId = $(this).val();
		$(this).next('a').attr('href', addic7edId ? '<%= providers.addic7ed.SHOW_URL.toString() %>'.replace(/\{addic7edId\}/, addic7edId) : '<%= providers.addic7ed.SHOW_LIST_URL.toString() %>');
	});

	$('.sUpdate').on('click', function() {
		var showSel = $(this).closest('.unverifiedShow');

		var imdbInfo = {
			_id: $(showSel).attr('id'),
			addic7edId: $(showSel).find('.sAddic7edId').val(),
			isVerified: 1
		};
		
		if(imdbInfo._id && (!imdbInfo.addic7edId || imdbInfo.addic7edId.match(/^\d+$/))) {
			$.ajax({
				url: '/show',
				type: 'PUT',
				data: imdbInfo,
				success: function() {
					$(showSel).find('input, button').prop('disabled', true).parent().removeClass('has-error');
					$('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Well Done!</strong> ' + imdbInfo._id + ' show updated!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
				        $(this).remove();
				    });
				},
				error: function(err) {
					$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + err.responseText + '</div>').prependTo('#notifications').fadeIn('fast');
				}
			});
		} else {
			(imdbInfo.addic7edId && !imdbInfo.addic7edId.match(/^\d+$/)) && $(showSel).find('.sAddic7edId').parent().addClass('has-error');

			$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oh snap!</strong> Fill it properly!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
		        $(this).remove();
		    });
		}
	});
});
</script> 