<style>
#notifications {
    position: fixed;
    right: 40px;
    top: 60px;
    width: 600px;
    z-index: 3;
}

.table tbody>tr>td.vert-align,
.table tbody>tr>th.vert-align {
    vertical-align: middle;
}
</style>

<% if(toVerify.length) { %>
	<div id="notifications">
	</div>
	<div class="table-responsive">
	    <table class="table table-bordered">
	        <thead>
	            <tr>
	                <th class="text-center">Release</th>
	                <th class="text-center">IMDb</th>
	                <th class="text-center">Verify</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<% _.each(toVerify, function(release) { %>
		            <tr id="<%= release._id %>" data-name="<%= release.name %>" class="unverifiedRelease">
		                <td class="vert-align text-center" scope="row">
		                	<a href="/search/<%= release.name %>" target="_blank"><%= release.name %></a>
		                </td>
		                <td class="vert-align text-center">
							<div class="input-group">
								<input type="text" value="<%= release.imdbId %>" class="form-control rIMDbId">
								<a class="input-group-addon" href="<%= release.imdbId ? providers.imdb.getTitleURL(release.imdbId).toString() : providers.imdb.getURL() %>" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
							</div>
						</td>
		                <td class="vert-align text-center">
							<button type="button" class="btn btn-success btn-sm rUpdate">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
		                </td>
		            </tr>
	        	<% }); %>
	        </tbody>
	    </table>
	</div>
<% } else { %>
	<div role="alert" class="alert alert-success"><strong>Well done!</strong> All Movie Releases are verified.</div>
<% } %>

<script>
$(function() {
	$('.rIMDbId').change(function() {
		const imdbId = $(this).val();
		$(this).next('a').attr('href', imdbId ? '<%= providers.imdb.getTitleURL('{imdbId}').toString() %>'.replace(/%7BimdbId%7D/, imdbId) : '<%= providers.imdb.getURL() %>');
	});

	$('.rUpdate').on('click', function() {
		const releaseSel = $(this).closest('.unverifiedRelease');

		const release = {
			_id: $(releaseSel).attr('id'),
			imdbId: $(releaseSel).find('.rIMDbId').val()
		};
		
		if(release._id && release.imdbId.trim() != '' && release.imdbId.match(/^tt\d+$/)) {
			$.ajax({
				url: '/release',
				type: 'PUT',
				contentType: 'application/json',
				data: JSON.stringify(release),
				success: function() {
					$(releaseSel).find('input, button').prop('disabled', true).parent().removeClass('has-error');
					$('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Well Done!</strong> ' + releaseSel.attr('data-name') + ' release updated!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
				        $(this).remove();
				    });
				},
				error: function(err) {
					$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + err.responseText + '</div>').prependTo('#notifications').fadeIn('fast');
				}
			});
		} else {
			(release.imdbId.trim() == '' || !release.imdbId.match(/^tt\d+$/)) && $(releaseSel).find('.rIMDbId').parent().addClass('has-error');

			$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oh snap!</strong> Fill it properly!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
		        $(this).remove();
		    });
		}
	});
});
</script> 