<style>
#notifications {
    position: fixed;
    right: 40px;
    top: 60px;
    width: 600px;
    z-index: 3;
}

.table tbody>tr>td.vert-align,
.table tbody>tr>th.vert-align {
    vertical-align: middle;
}
</style>

<% if(toVerify.length) { %>
	<div id="notifications">
	</div>
	<div class="table-responsive">
	    <table class="table table-bordered">
	        <thead>
	            <tr>
					<th class="text-center">Title</th>		
					<th class="text-center">Folder</th>
	                <th class="text-center">Addic7ed</th>
	                <th class="text-center">Verify</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<% _.each(toVerify, function(show) { %>
		            <tr id="<%= show._id %>" class="unverifiedShow">
		                <td class="vert-align text-center" scope="row">
		                	<a href="<%= providers.imdb.getTitleURL(show._id).toString() %>" target="_blank"><%= show.title + ' (' + show.year + ')' %></a>
		                </td>
		                <td class="vert-align text-center">
		                	<input type="text" value="<%= show.folder %>" class="form-control sFolder" />
						</td>
		                <td class="vert-align text-center">
							<div class="input-group">
								<input type="text" value="<%= show.addic7edId %>" class="form-control sAddic7edId">
								<a class="input-group-addon" href="<%= show.addic7edId ? providers.addic7ed.getShowURL(show.addic7edId).toString() : providers.addic7ed.getShowListURL().toString() %>" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
							</div>
						</td>
		                <td class="vert-align text-center">
							<button type="button" class="btn btn-success btn-sm sUpdate">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
		                </td>
		            </tr>
	        	<% }); %>
	        </tbody>
	    </table>
	</div>
<% } else { %>
	<div role="alert" class="alert alert-success"><strong>Well done!</strong> All Shows are verified.</div>
<% } %>

<script>
$(function() {
	$('.sAddic7edId').change(function() {
		const addic7edId = $(this).val();
		$(this).next('a').attr('href', addic7edId ? '<%= providers.addic7ed.getShowURL('{addic7edId}').toString() %>'.replace(/%7Baddic7edId%7D/, addic7edId) : '<%= providers.addic7ed.getShowListURL().toString() %>');
	});

	$('.sUpdate').on('click', function() {
		const showSel = $(this).closest('.unverifiedShow');

		const show = {
			_id: $(showSel).attr('id'),
			folder: $(showSel).find('.sFolder').val(),
			addic7edId: $(showSel).find('.sAddic7edId').val()
		};
		
		if(show._id && show.folder.trim() != '' && (show.addic7edId.trim() == '' || show.addic7edId.match(/^\d+$/))) {
			$.ajax({
				url: '/show',
				type: 'PUT',
				contentType: 'application/json',
				data: JSON.stringify(show),
				success: function() {
					$(showSel).find('input, button').prop('disabled', true).parent().removeClass('has-error');
					$('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Well Done!</strong> ' + show._id + ' show updated!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
				        $(this).remove();
				    });
				},
				error: function(err) {
					$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>' + err.responseText + '</div>').prependTo('#notifications').fadeIn('fast');
				}
			});
		} else {
			show.folder.trim() == '' && $(showSel).find('.sFolder').parent().addClass('has-error');
			(show.addic7edId.trim() != '' && !show.addic7edId.match(/^\d+$/)) && $(showSel).find('.sAddic7edId').parent().addClass('has-error');

			$('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Oh snap!</strong> Fill it properly!</div>').prependTo('#notifications').fadeIn('fast').delay(10000).fadeOut('fast', function () {
		        $(this).remove();
		    });
		}
	});
});
</script> 